body { 
		background-color: #fcce50;

}

.Everything {
		
		width:800px;
		margin: auto;
}

.swyl {

		float: left;
		padding: 80px 0 5px 30px;
	 	color: Black;
}

h1 {

		font-family: helvetica;
		font-size: 50px;
}

h2 {

		font-family: helvetica;
		font-size: 20px;
		text-decoration: initial;
}

a {
		text-decoration: none;
		text-overflow: ellipsis;
		color: black;
		font-family: Helvetica, sans-serif;
		padding: 5px 300px 10px 0;
		display: inline-block;
	
}

a:hover {
	
		padding: 15px 300px 15px 20px;
		transition: all .3s ease-in-out;
}

