body {
	
		margin:0;
		font-family: sans-serif;
}

header {
		
		height: 400px;
		background-image:url(https://ga-core-production-herokuapp-com.global.ssl.fastly.net/assets/controllers/education/courses/front-end-web-development/PDP-HeaderImg-FEWD-86bd88c4c800f9dfe352f15d9f4cf660.png);
		background-repeat: no-repeat;
		background-size: cover;
		
}

.Coursename {

		text-align: center;
		text-transform: uppercase;
		padding: 120px 0 30px;
	 	color: white;
}

h1 {
	
		margin:auto;
		font-size: 40px;
		font-family: helvetica;
}

p {

		margin:auto;
		font-size:20px;
		font-family: helvetica;
		padding:30px;
}


nav { 
		text-align: center;
		
}

.requestbt {

		color:black;
		background-color: lightgrey;
		font-weight: bold;
		padding: 20px 20px;
		border-radius: 2px;

}

.applybt {

		color:white;
		background-color: red;
		border-radius: 2px;
		font-weight: bold;
		padding: 20px 30px;
}


a {

		text-decoration: none;
}
